---
---

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

$gradient-left: #B993D6;
$gradient-right: #8CA6DB;

html {
  font-size: 100%;
}

body {
  background: $gradient-left;
  background: -webkit-linear-gradient(to left, $gradient-left, $gradient-right);
  background: linear-gradient(to left, $gradient-left, $gradient-right);

  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #F5F5F5;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

header {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Amatic SC', Helvetica, sans-serif;
  color: #F3F1F1;
  font-weight: 400;
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 3.5em;
}

p {
  font-family: 'Noto Serif';
  line-height: 1.9em;
  margin: 0 0 10px;
  font-size: 14px;
}
