---
---

@import url(https://fonts.googleapis.com/css?family=Pacifico);

$gradient-left: #B993D6;
$gradient-right: #8CA6DB;

html {
  font-size: 100%;
}

body {
  background: $gradient-left;
  background: -webkit-linear-gradient(to left, $gradient-left, $gradient-right);
  background: linear-gradient(to left, $gradient-left, $gradient-right);

  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #F5F5F5;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1, h2, h3 {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

h1 {
  font-size: 5em;
  padding: 1.5em 0 0.5em;
}

h2 {
  font-size: 3em;
  padding: 0.5em 0 0.5em;
}

p {
  font-family: 'Noto Serif';
  line-height: 1.9em;
  margin: 0 0 10px;
  font-size: 14px;
}
