<!DOCTYPE HTML>
<html class="">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/style/app.css?time={{ site.time | date_to_xmlschema | slugify }}">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{% if page.featured_image %}{{ page.featured_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="{{ site.locale }}">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.6&appId=926954587368127";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>

    <header>
      <h1>PacketSwap</h1>
      <h2>de moderne marktplaats</h2>
    </header>

    <main>{{ content }}</main>

    <ul class="fullscreen">
      <li class="facebook active">
        <a class="close" data-next="done">&times;</a>
        <h3>Like ons op Facebook</h3>
        <p>En zie als eerste onze photoshops van gedupeerden marktplaats-gebruikers.</p>
        <div class="fb-like" data-href="https://www.facebook.com/packetswap/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        <p><a data-next="twitter">(doe ik liever niet)</a></p>
      </li>
      <li class="twitter">
        <a class="close" data-next="done">&times;</a>
        <h3>Volg ons op Twitter</h3>
        <p>En denk mee met het ontwikkelen van het platform.</p>
        <p><a class="twitter-follow-button"
      href="https://twitter.com/intent/follow?screen_name=PacketSwap" data-show-count="false">
    Follow @PacketSwap</a></p>
        <p><a data-next="email">(doe ik liever niet)</a></p>
      </li>
      <li class="email">
        <a class="close" data-next="done">&times;</a>
        <h3>Ontvang een invite</h3>
        <h3 style="color: red;">nog niet beschikbaar</h3>
        <p>Laat je e-emailadres achter en ontvang een invite wanneer de beta versie live is.</p>
        <input type="text" disabled placeholder="Ja, stuur mij die invite!">
        <p>We zullen je absoluut niet spammen en uitschrijven kan altijd!</p>
        <p><a data-next="done">(doe ik liever niet)</a></p>
      </li>
    </ul>

    <footer>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-243569-40', 'auto');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/app.js?time={{ site.time | date_to_xmlschema | slugify }}"></script>
  </body>
</html>
